<!DOCTYPE html>
</html>
<head>
  <script type="text/javascript" src="global.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1>Slide Show</h1>

<div id="content">Stuff here</div>

<nav class="ordered_numbers">
  <ul>
    <li><a href="#" id="slide1">Slide 1</a></li>
    <li><a href="#" id="slide2">Slide 2</a></li>
    <li><a href="#" id="slide3">Slide 3</a></li>
    <li><a href="#" id="slide4">Slide 4</a></li>
    <li><a href="#" id="slide5">Slide 5</a></li>
    <li><a href="#" id="slide6">Slide 6</a></li>
    <li><a href="#" id="slide7">Slide 7</a></li>
    <li><a href="#" id="slide8">Slide 8</a></li>
    <li><a href="#" id="slide9">Slide 9</a></li>
    <li><a href="#" id="slide10">Slide 10</a></li>
  </ul>
</nav>

<nav class="next_previous">
  <ul>
    <li><a href="#" id="next">Next</a></li>
    <li><a href="#" id="previous">Previous</a></li>
  </ul>
</nav>
</body>
</html>