<h1>Slide Show</h1>

<nav class="ordered_numbers">
  <ul>
    <li><a href="#" id="slide1">Slide 1</a></li>
    <li><a href="#" id="slide2">Slide 2</a></li>
    <li><a href="#" id="slide3">Slide 3</a></li>
    <li><a href="#" id="slide4">Slide 4</a></li>
    <li><a href="#" id="slide5">Slide 5</a></li>
    <li><a href="#" id="slide6">Slide 6</a></li>
    <li><a href="#" id="slide7">Slide 7</a></li>
    <li><a href="#" id="slide8">Slide 8</a></li>
    <li><a href="#" id="slide9">Slide 9</a></li>
    <li><a href="#" id="slide10">Slide 10</a></li>
  </ul>
</nav>

<nav class="next_previous">
  <ul>
    <li><a href="#">Next</a></li>
    <li><a href="#">Previous</a></li>
  </ul>
</nav>