<!DOCTYPE html>
</html>
<head>
  <script type="text/javascript" src="global.js"></script>
</head>
<body>

<center>
  <h1>My Favourite Dog Breeds</h1>

  <div id="content">Stuff here</div>

  <nav class="next_previous">
    <ul>
      <!-- <li><a href="#" id="next">Next</a></li> -->
      <!-- <li><a href="#" id="previous">Previous</a></li> -->
    </ul>
  </nav>

  <div id="previous" class="button"><p class="button-text">PREVIOUS</p></div>
  <div id="next" class="button"><p class="button-text">NEXT</p></div>
    
</center>
</body>
</html>