<!DOCTYPE html>
</html>
<head>
  <script type="text/javascript" src="global.js"></script>
</head>
<body>

<center>
  <h1>My Favourite Dog Breeds</h1>
  
  <div class="content-restrain">
    <div id="content">Click NEXT to start the slideshow</div>
  </div> <!-- end content-restrain -->
  
  <div class="button-container">
    <div id="previous" class="button"><p class="button-text">PREVIOUS</p></div>
    <div id="next" class="button"><p class="button-text">NEXT</p></div>
  </div><!-- end button-container -->
    
</center>
</body>
</html>