<!DOCTYPE>
<html>
<head>
  <title>API Slideshow</title>
  <link rel="stylesheet" href="/CSS/style.css" type="text/css" charset="utf-8"> 
  <script type="text/javascript" href="global.js"></script>
</head>
<body>
  <%= yield%>
</body>
</html>