<!DOCTYPE>
<html>
<head>
  <title>API Slideshow</title>
  <link rel="stylesheet" type="text/css" href="public/style.css">
  <script type="text/javascript" href="public/global.js"></script>
</head>
<body>
</body>
</html>