<h1>Login</h1>
<h3>New user?</h3>
<form action="javascript:void(0)">
<p>User Name:</p>
<input type="text" name="username" id="new-username">
<p>Password:</p>
<input type="text" name="password" id="new-password">
</form>

<h3>Existing User?</h3>
<form action="javascript:void(0)">
<p>User Name:</p>
<input type="text" name="username" id="exisitng-username">
<p>Password:</p>
<input type="text" name="password" id="exisitng-password">
</form>