<center>
    <div class="error-container">
      <h3>Something, didn't go according to plan...</h3>
      <img src="images/sorry_puppy.jpg" width="400">
      <br><br>
      <a href="/">Please try again</a>
    </div>
</center>