<center>
  
  <h1>Slideshow Login</h1>
  <h3>New user?</h3>
  <form action="/create_user" method="post">
    <p>User Name:</p>
    <input type="text" name="username" id="new-username">
    <p>Password:</p>
    <input type="text" name="password" id="new-password">
    <br><br>
    <input type="submit"> 
  </form>

  <br><br>
  <h3>Existing User?</h3>
  <form action="/user_confirm" method="post">
    <p>User Name:</p>
    <input type="text" name="username" id="exisitng-username">
    <p>Password:</p>
    <input type="text" name="password" id="exisitng-password">
    <br><br>
    <input type="submit">
  </form>
</center>